<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="root"></div>
    <script>window.initialState = {{ initial_state|safe }};</script>
    <script src="/js/index.js"></script>
  </body>
</html>
